
  <section class="sec_princi">
    <div class="formulario">
      <h2>Cargar Artículo</h2>
      <form class="img" [formGroup]="pdf" (submit)="createLibro()">
        
        <div class="grupo-formulario">
          <label class="title_campos" for="nombre">Titulo de Artículo</label>
          <input style="border:1px solid" class="label_title" formControlName="nameBook" type="text" id="nombre" name="nombre" placeholder="Nombre de artículo" required>
        </div>

        <div class="grupo-formulario">
          <label class="title_campos" for="correo">Seleccione su portada</label>
          <input class="campo-escritura" formControlName="images" (change)="onChangeInput($event)" type="file" placeholder="Ingresa imagen de portada" required>
        </div>

        <div class="grupo-formulario">
          <label class="title_campos" for="article">Artículo</label>
          <textarea class="campo-escritura_area" formControlName="article" type="text" id="article" name="article" placeholder="Ingresa el artículo" required></textarea>
        </div>

        <div class="botones">
          <input type="submit" value="Cargar artículo" class="boton-cargar-articulo">
        </div><br> <br>

        <div class="botones">
          <a href="/eliminar-art" class="boton_eliminar"><strong>Eliminar artículo</strong></a>
        </div> <br> <br>

        <div class="botones">
          <a href="/fundamentos" class="ver-articulo-creado"><strong>Ver artículo creado</strong></a>
        </div>  <br> <br>
        <div class="botones">
          <a href="/gestion" class="boton_crear_img"><strong>Ruta crear imagen</strong></a>
        </div>
      </form>
    </div>
</section>



