
<body class="">
    <section>
      <div class="body">
        <div class="login">
        <h1 class="color"><a href="" class="logo">
          <img src="../../../assets/logo7.jpg" alt=""></a></h1>
          <form>
            <img src="../../../assets/img/usuario.png"  width="50%" alt="img_logo">
            <h1 class="color">Iniciar Sesion</h1>
            <mat-form-field class="ancho" appearance="fill">
              <mat-label  for="user" class="form-label">Usuario</mat-label>
              <input matInput autocomplete="off" formControlName="usuario" id="user" name="user" aria-describedby="emailHelp">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
              <mat-label>Contraseña</mat-label>
              <input matInput autocomplete="off" formControlName="password"  type="password">
            </mat-form-field>
            <br>
            <button class="ancho button" mat-raised-button color="primary" type="submit">Ingresar</button>
          </form>
        </div>
      </div>
    </section>

</body>
  
