.body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.login {
    width: 80%;
    max-width: 290px;
    text-align: center;
}

.ancho {
    width: 120%;
}

.button {
    height: 70px;
}

.spinner {
    margin: 0 auto;
}

.example-spacer {
    flex: 1 1 auto;
}

/*footer*/
.foot{
    color: aliceblue;
    font-size: 18px;
    text-align: right;
    list-style: none;
}
/*FOOTER*/
.colorun{
    background: #01234b;
    width: 100%; 
    padding: 15px;
    height: 300px;
}

.colores{
    color: #c3d7df;
}
.adress{
    color: aliceblue;
    text-align: center;
}
.social li{
    display: inline;
    color: #c3d7df;
}

.social i {
    font-size: 200%;
    margin: 1%;
    color: #c3d7df;
    text-align: right;
}

.foot{
    color: aliceblue;
    font-size: 18px;
    text-align: right;
    list-style: none;
}

.icon-text-text{
    text-align: right;
    width: 80%;
    color: aliceblue;
}

.sobren{
    color: aliceblue;
    text-align: center;
}

.color_copy{
    color: aliceblue;
}



.tamañoface{
    font-size: 50px;
}
.negro{
    background: #00152d;
    height: 65px;
}

.centralist{
    text-align: center;
}

.title{
    color: white;
    text-decoration: none;
}
