
  <div class="body">
    <div class="login"> 
      <div>
          <form (submit)="login()">
            <img class="logo" src="../../../assets/img/4qxzTl-LogoMakr.png" alt="">
            <div>
              <label for="user" class="form-label">Usuario</label>
              <input type="email" class="form-contro" id="email" name="email" [(ngModel)]="datosLogin.usuario">
            </div>
            <div>
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-contro" id="password" name="password" [(ngModel)]="datosLogin.password">
            </div>
            <button class="button_ingresar" type="submit">Ingresar</button>
          </form>
      </div>
    </div>
  </div>



