.body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    padding-top: 10%;
}

.login {
    width: 80%;
    max-width: 20%;
    text-align: center;
}

.titulo_iniciar {
    font-size: 2.0rem;
    font-weight: 800;
}

.ancho {
    width: 120%;
}

.button {
    height: 70px;
}

.spinner {
    margin: 0 auto;
}

.example-spacer {
    flex: 1 1 auto;
}

/*========MEDIA QUERIES (SMALL DEVICES)========*/
@media screen and (max-width: 600px) {
    .body {
        padding-top: 20%;
    }
    .login {
        max-width: 60%;
        padding-right: 20px;
        padding-bottom: 30px;
    }
    input {
        font-size: 0.9rem;
    }
  }
