
<body class="">
    <section>
      <div class="body">
        <div class="login">
        <h1 class="color"><a href="" class="logo">
          <img src="../../../assets/logo7.jpg" alt=""></a></h1>
          <form>
            <img src="../../../assets/img/usuario.png"  width="50%">
            <h1 class="color">Iniciar Sesion</h1>
            <mat-form-field class="ancho" appearance="fill">
              <mat-label  for="user" class="form-label">Usuario</mat-label>
              <input matInput autocomplete="off" formControlName="usuario" id="user" name="user" aria-describedby="emailHelp">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
              <mat-label>Contraseña</mat-label>
              <input matInput autocomplete="off" formControlName="password"  type="password">
            </mat-form-field>
            <br>
            <button class="ancho button" mat-raised-button color="primary" type="submit">Ingresar</button>
          </form>
        </div>
      </div>
    </section>
    <br>
    <footer class="colorun">
      <div  class="banner-wrapper">
        <div class="icon-text">
          <div class="icon-text-icon">
            <H2 class="sobren nav-link">SOBRE NOSOTROS</H2>
          </div> <div class="large-4 columns">
            <ul class="cro_footwidget">
              <li id="text-2" class="widget-container widget_text clear">
                <div class="cro-sidebar-inner">
                  <div class="textwidget colores adress">
                    <br>
                    <p>
                      Tunja - Boyacá
                    </p>
                    <p>
                      Dirección: Carrera 7b #51 - 20. Las Granjas
                    </p>
                    <p>
                      Teléfono: 311 2089172
                    </p>
                        <h2>SÍGUENOS</h2>                  
                      <p href="#skills">
                        <a href="http://facebook.com/JesusAutorDeVida"  target="_blank" class="tamañoface">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <footer class="negro">
      <div class="large-6 columns">
        <br>
        <div id="site-cnt" class="centralist">
          <a class="title"> Iglesia Bautista Reformada De Tunja © (2022) </a>
        </div>
      </div>
    </footer>

</body>
  
