/*CSS RAIZ PARA EFECTOS ANTES DESVANECER*/
body, .presentacion-container, .servicios, .liderazgo {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  animation: backgroundAnimation 30s infinite linear;
}
@keyframes backgroundAnimation {
  0%, 15% {
    background: #f9f9f9;
    opacity: 1;
  }
  30% {
    background: #d7dddf; 
    opacity: 1;
  }
  45% {
    background: #e2e0e0; 
    opacity: 1;
  }
  60% {
    background: #d2d4cd;
    opacity: 1;
  }
  75%, 100% {
    background: #dfe1e1;
    opacity: 1;
  }
}
/* Section presentacion*/
.presentacion {
  margin-top: 40px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}
.presentacion-parrafo {
  font-size: 1.8rem;
  font-family: "Nombre de la fuente";
}
.presentacion-titulo {
  font-size: 6.0rem;
  font-family: "Nombre de la fuente";
  line-height: 0.8;
}
.cita-biblica {
  font-size: 1.8rem;
  margin-bottom: 2.0rem;
  color: black;
  width: 100%;
}
@media screen and (max-width: 1024px){
.presentacion {
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .presentacion-container {
    width: 100%;
    margin-bottom: 2.8rem;   

  }
  .presentacion-parrafo {
    font-size: 1.3rem;
    font-family: "Nombre de la fuente";
  }
  .presentacion-titulo {
    font-size: 3.0rem;
    font-family: "Nombre de la fuente";
    line-height: 0.8;
  }
  .cita-biblica {
    font-size: 1.3rem;
  }
}
/*Section liderazgo*/
.titulo__liderazgo {
  font-size: 2.2rem;
  text-align: center;
}
.descrip-parrafo {
  color: black;
  font-size: 1.3rem;
}
.about__content .img-pastor {
  width: 40%;
}
@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 0;
  }
  .titulo__liderazgo {
    font-size: 1.8rem;
  }
  .liderazgo .link-pastor {
    font-size: 1.0rem;
  }
  .descripcion__pastor {
    width: 90%;
    font-size: 1.0rem;
    line-height: 1.4;
  }
  .about__content .img-pastor {
    width: 65%;
    margin-left: 12%;
    margin-top: 25px;
  }

  .descrip-parrafo {
    font-size: 1.1rem;
    color: black;
  }
}