

<body>
  
<section class="gradient-section">
  <div class="carousel-container">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/img/cruz3.png" class="d-block w-100" alt="banner 4" style="filter: brightness(60%);">
            <div class="carousel-caption">
              <p>Lámpara es a mis pies tu palabra,
                y lumbrera a mi camino</p>
              <h5>Salmos 119:105</h5>
            </div>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/img/flores.jpg" class="d-block w-100" alt="banner 1" style="filter: brightness(80%);">
          <div class="carousel-caption">
            <p>Presentaos ahora, y ved esta gran cosa que el SEÑOR hará delante de vuestros ojos.
              ¿No es ahora la siega del trigo?</p>
            <h5>1 Samuel 12:16-17</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/img/glaciar.jpg" class="d-block w-100" alt="banner 2"  style="filter: brightness(60%);">
          <div class="carousel-caption">
            <p>..Pero nosotros predicamos a Cristo crucificado..</p>
            <h5>1 Corintios 1:23</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/img/nature.jpg" class="d-block w-100" alt="banner 3" style="filter: brightness(80%);">
          <div class="carousel-caption">
            <p>Y yo les doy vida eterna; y no perecerán jamás, ni nadie las arrebatará de mi mano.</p>
            <h5>San Juan 10:28</h5>
          </div>
        </div>


      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>

<section class="presentacion">
  <div class="presentacion-container">
    <p class="presentacion-parrafo">He aquí que viene con las nubes, y todo ojo le verá,
      y los que le traspasaron; y todos los linajes de la tierra harán lamentación por Él.
    </p>
    <h1 class="presentacion-titulo">Sí, amén.</h1>
    <p class="presentacion-parrafo">Yo soy el Alfa y la Omega, principio y fin, dice el Señor,
      el que es y que era y que ha de venir, el Todopoderoso.
    </p>
    <p class="cita-biblica">Apocalipsis 1 : 7 - 8</p>
  </div>
</section>





<section class="liderazgo">
  <h1 class="titulo__liderazgo">Líderazgo en  la iglesia</h1>
  <div class='container about__container'>
    <article class="descripcion__pastor">
      <a class="link-pastor" href="/horario">Ps Carlos Herrán</a>

      <p class="descrip-parrafo">
        El pastor Carlos Herrán cuyo liderazgo está enraizado en el temor reverente a Dios 
        y en la obediencia a Su palabra, su predicación se carácteriza por ser fiel 
        a la verdad bíblica.
      </p>
    </article>
    <div class='about__content'>
        <img class="img-pastor" src="../../../assets/img/pastor-carlos.jpeg" alt="Pastor">
    </div>
  </div><br>
</section>

<section class="servicios">
  <div class="servicios-content">
    <div class="titulo-horario">
      <br><h1>Nuestros horarios de reunión</h1>
    </div>
    <p class="horario">Domingos 10 am y 11 am.</p><br>
    
    <div class='container about__container'>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3971.
        048994393115!2d-73.352504359939!3d5.559756994443905!2m3!1f0!2f0!3f0!3m2
        !1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6a7d605ae159a1%3A0xb5227ad46c0f47c6!
        2sIglesia%20Bautista%20Reformada%20De%20Tunja%20IBRT!5e0!3m2!1ses-419!2sco
        !4v1687147739945!5m2!1ses-419!2sco" width="400" height="330" style="border:0;" 
        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
      </iframe>
      <div class='about__content'>
        <h1 class="titulo-mision">Nuestra misión como iglesia local</h1>
        
        <p class="parra-mision">
          Guiados por la palabra de Dios, nos esforzamos en darle toda la gloria al Dios
          revelado en las Escrituras. <br> Nuestra labor como iglesia local,
          es proclamar el evangelio de Cristo para arrepentimiento y perdón de pecados,
          al mismo tiempo, buscamos edificarnos mutuamente por medio de la predicación de la palabra de Dios. <br>
          Nos esforzamos en instruir a aquellos que se han hecho discipulos de Cristo, 
          usando el estudio de la palabra de Dios, como tambien con la predicación expositiva.
        </p>
        <a matTooltip="Contactar Pastor" class="pointer" href='/horario' class='btn btn-primary'>Contactar</a>
      </div>
    </div>
  </div>
</section>
</body>
<!-- 
  <a class="btn btn-outline-primary" matTooltip="Pagina pricipal" class="pointer" routerLink=""></a>
-->

