.target_form{
    text-align: center;
}

.form{
    text-align: center;
}


body{
    font-family: 'Montserrat', sans-serif;
}


/*formulario nuevo*/
.contacto {
    background-color: #bfd9ed;
    padding: 50px 0;
    padding-top: 10%;
  }

  
  
  .formulario {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 20);
    border-radius: 10px;
    padding: 30px;
  }

  .formulario {
    width: 80%;
  }
  
  .formulario h2 {
    margin-bottom: 30px;
    font-size: 2.8rem;
    color: black;
  }
  
  .grupo-formulario {
    margin-bottom: 20px;
  }

  
  
  .grupo-formulario label {
    display: block;
    margin-bottom: 5px;
  }
  
  .grupo-formulario input {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.1rem;
  }

  .boton-enviar {
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:rgb(241, 238, 60);
    background: rgb(179, 65, 220);
    border:none;
    border-radius: 5px;
    transition: 1s all;
    cursor:pointer;
  }
  
  .boton-enviar:hover {
    background-color: #1d6d2a;
    transform: scale(1.1);
    color:rgb(239, 242, 242);
  }

  @media screen and (max-width: 1024px) {
    .contacto {
      padding-top: 30%;
    }
    .formulario {
      width: 60%;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
    }
    .formulario h2 {
      margin-bottom: 20px;
      font-size: 1.8rem;
    }
    .grupo-formulario input {
      padding: 8px;
      border-radius: 3px;
      box-sizing: border-box;
      font-size: 0.8rem;
    }
    .boton-enviar {
      color:rgb(9, 6, 6);
      background: rgb(220, 231, 61);
    }
  }