.target_form{
    text-align: center;
}

.form{
    text-align: center;
}


body{
    font-family: 'Montserrat', sans-serif;
}


/*formulario nuevo*/
.contacto {
    background-color: #bfd9ed;
    padding: 50px 0;
    padding-top: 10%;
  }

  .formulario {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 20);
    border-radius: 10px;
    padding: 30px;
    background-image: url(../../../assets/img/perdida.png);
    filter: brightness(60%);
    background-size: cover;
    background-position: center center;
  }

  .formulario {
    width: 80%;
  }

  .title_campos {
    color: rgb(107, 232, 149);
    font-size: 1em;
    font-weight: 500;
  }

  .label_title::placeholder {
    color: red;
  }
  
  .formulario h2 {
    margin-bottom: 30px;
    font-size: 2.8rem;
    color: rgb(254, 252, 252);
  }
  
  .grupo-formulario {
    margin-bottom: 20px;
  }

  .grupo-formulario label {
    display: block;
    margin-bottom: 5px;
  }

  .label_title {
    background-color: transparent;
    color: aqua;
    border: 1px solid;
  }
  
  .grupo-formulario input {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.1rem;
  }

  .boton-enviar {
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:rgb(241, 238, 60);
    background: rgb(38, 117, 18);
    border:none;
    border-radius: 5px;
    transition: 1s all;
    cursor:pointer;
  }
  
  .boton-enviar:hover {
    color:rgb(2, 4, 4);
    background-color: #29ad3f;
    /*transform: scale(1.1);*/
  }

  .boton_eliminar {
    width: 40%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color:rgb(12, 10, 10);
    background: rgb(210, 11, 48);
    transition: 1s all;
    cursor:pointer;
    text-decoration: none;
    border-radius: 5px;
  }

  .boton_eliminar:hover {
    background-color: rgb(74, 158, 5);
    transform: scale(1.1);
    color:rgb(9, 5, 5);
  }

  .ver-articulo-creado {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color:rgb(20, 13, 13);
    background: rgb(74, 158, 5);
    transition: 1s all;
    cursor:pointer;
    text-decoration: none;
    border-radius: 5px;
  }

  .ver-articulo-creado:hover {
    background-color: yellowgreen;
  }

  @media screen and (max-width: 1024px) {
    .contacto {
      padding-top: 30%;
    }
    .formulario {
      width: 100%;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
    }
    .formulario h2 {
      margin-bottom: 20px;
      font-size: 1.8rem;
    }
    .grupo-formulario input {
      padding: 8px;
      border-radius: 3px;
      box-sizing: border-box;
      font-size: 0.8rem;
    }
    .boton-enviar {
      color:rgb(9, 6, 6);
      background: rgb(220, 231, 61);
    }
  }