<br>


<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" >
    <div class="card h-100">
      <div class="card-body" style="background: transparent url('../../../assets/img/trigo.jpg') no-repeat center center /cover">
        <h2 class="card-title">Editar Biografía del pastor</h2>
        <form [formGroup]="form" (submit)="createFile()">
          <div>
              <input formControlName="idAparment" type="text" placeholder="Editar Historia" class="button-height">
          </div>
          <br>
          <div>
              <input formControlName="images" (change)="onChangeInput($event)" type="file" multiple>
          </div>
          <br>
          <div>
              <button type="submit">Crear Biografía</button>
          </div>
        </form>
        <p class="card-text"><strong>Al dar clíck en "crear biografia" se creará biografía y se mostrara en link de "Nuestro Pastor"</strong></p>
      </div>
      <div class="card-footer">
        <a href="/nuestroPastor" class="card-link color-link"><strong>Ver Historia Creada</strong></a>
      </div>
      <div class="card-footer">
        <a href="/gestionUno" class="card-link color-link"><strong>Gestion Crear libro</strong></a>
      </div>
    </div>
  </div>
  <div class="col">
    <!-- targeta para cargar imagenes de libros-->
    <!-- 
      <div class="card h-100">
      <div class="card-body" style="background: transparent url('../../../assets/img/trigo.jpg') no-repeat center center /cover">
        <h2 class="card-title">Cargar Libros Recomendados</h2>
        <form [formGroup]="form" (submit)="createLibro()">
          <div>
              <input formControlName="nameBook" type="text" placeholder="Nombre del Libro" class="button-height">
          </div>
          <br>
          <div>
              <input formControlName="images" (change)="onChangeInput($event)" type="file" multiple>
          </div>
          <br>
          <div>
              <button type="submit">Cargar Libro</button>
          </div>
      </form>
      </div>
      <div class="card-footer">
        <a href="/fundamentos" class="card-link color-link"><strong>Ver Libro Creado</strong></a>
      </div>
    </div>
    -->
    
    
  </div>
</div>
<hr>

  <form [formGroup]="book" >
    form [formGroup]="form" (submit)="createFile()"
    <div>
      <input formControlName="nameBook" type="text" placeholder="ingresar nombre libro" class="button-height">
    </div>
    <br>
    <div>
      <input formControlName="" (change)="onChangeInput($event)"  type="file" multiple>
    </div>
    <br>
    <div>
      <button type="submit">Cargar Libro</button>
  </div>
  </form>
  
  

  <!-- 
    <div class="card-body " style="background: transparent url('../../../assets/img/trigo.jpg') no-repeat center center /cover">
                    <h2 class="card-title">Editar Biografía del pastor</h2>
                    <form [formGroup]="form" (submit)="createFile()">
                      <div>
                          <input formControlName="idAparment" type="text" placeholder="Editar Historia" class="button-height">
                      </div>
                      <br>
                      <div>
                          <input formControlName="images" (change)="onChangeInput($event)" type="file" multiple>
                      </div>
                      <br>
                      <div>
                          <button type="submit">Crear Biografía</button>
                      </div>
                    </form>
                    <p class="card-text"><strong>Al dar clíck en "crear biografia" se creará biografía y se mostrara en link de "Nuestro Pastor"</strong></p>
                    <a href="/nuestroPastor" class="card-link color-link"><strong>Ver Historia Creada</strong></a>
                  </div>
                  <div class="card mover" style="background: transparent url('../../../assets/img/trigo.jpg') no-repeat center center /cover">
                    <div class="card-body">
                      <h2 class="card-title">Cargar Libros Recomendados</h2>
                      <form [formGroup]="form" (submit)="createPdf()">
                        <div>
                            <input formControlName="nameBook" type="text" placeholder="Nombre del Libro" class="button-height">
                        </div>
                        <br>
                        <div>
                            <input formControlName="images" (change)="onChangeInput($event)" type="file" multiple>
                        </div>
                        <br>
                        <div>
                            <button type="submit">Cargar Libro</button>
                        </div>
                    </form>
                    <hr>
                      <p class="card-text"><strong>Libros Recomendados</strong></p>
                      <a href="/fundamentos" class="card-link color-link"><strong>Ver Libro Creado</strong></a>
                    </div>
                  </div>
                </div>
  -->

        







      

   




