
<body class="">

  <section class="horario container">
    <div class="horario__image-container">
      <img class="img-horario" src="../../../assets/img/monumento2.png" style="filter: brightness(60%);" alt="Monumento">
      <div class="horario__overlay"></div> <!-- Agregado para el degradado y sombreado -->
      <div class="horario__content">
        <h1 class="inro-text text-center"><strong>¿Quiénes Somos?</strong></h1>
        <p>Somos una comunidad Cristiana Bautista Reformada, 
          nos identificamos con la <a [href]="pdfUrl" target="_blank">confesión de fe de Londres de 1689.</a></p>
      </div>
    </div>
  </section>
  



<section class="institucional container">
  <h2 class="titulo">¿Qué son las 5 Solas?</h2>
  <div class="institucional__contenido">

    <article class="descripcion__pastor">
        <p class="descripcion"> 
          Las cinco solas representan el núcleo fundamental de la teología reformada.
          Surgieron como respuesta a las enseñanzas de la Iglesia Católica en el siglo XVI,
          después de la Reforma. Estas cinco palabras en latín, las "cinco solas", 
          funcionan como una guía que nos muestra cómo podemos apropiarnos 
          de los beneficios del plan redentor de Dios, es esencial comprender 
          que estas confesiones deben ser consideradas en su contexto histórico. 
          Originalmente, el propósito principal de las cinco solas 
          era exponer las contradicciones doctrinales dentro de la fe católica 
          y subrayar la importancia de la centralidad de las escrituras, de la fe en Cristo y 
          la gracia divina. 
          Estas declaraciones enfatizan la necesidad de una comprensión más profunda
          y una aplicación bíblica de la fe, en contraposición a ciertas prácticas y enseñanzas
          de la Iglesia Católica en ese momento como tambien en la actualidad.
        </p>
    </article>
</div>
  <strong class="subtitulo1">1. Sola Scriptura</strong><br>
  <div class="card_confesion">
    <img class="card_ibrt" src="../../../assets/img/scriptura_5.png" alt="scriptura">
  </div>

  <div class="institucional__contenido">

          <article class="descripcion__pastor">
              <p class="descripcion">
                <strong class="subtitulo">a. Base argumentativa:</strong>
                "Estoy maravillado de que tan pronto os hayáis alejado del que os
                llamó por la gracia de Cristo, para seguir un evangelio diferente.
                No que haya otro, sino que hay algunos que os perturban y quieren pervertir 
                el evangelio de Cristo. Mas si aun nosotros, o un ángel del cielo, 
                os anunciare otro evangelio diferente del que os hemos anunciado, 
                sea anatema. Como antes hemos dicho, también ahora lo repito: 
                Si alguno os predica diferente evangelio del que habéis recibido, sea anatema.
                Pues, ¿busco ahora el favor de los hombres, o el de Dios? 
                ¿O trato de agradar a los hombres? Pues si todavía agradara a los hombres, 
                no sería siervo de Cristo". <strong>Gálatas 1:6-10</strong> <br>
                "Toda la Escritura es inspirada por Dios, y útil para enseñar, 
                para redargüir, para corregir, para instruir en justicia,
                a fin de que el hombre de Dios sea perfecto, enteramente preparado para toda buena obra".
                <strong>2 Timoteo 3:16</strong>
              </p>
              <p class="descripcion"> 
                <strong class="subtitulo">b. Nuestra comprensión:</strong> <br>
                <strong class="subtitulo">b.1. La Biblia como la autoridad suprema:</strong> Sola Scriptura sostiene que, 
                en cuestiones de doctrina, moral, espiritualidad y vida práctica, la Biblia es la máxima autoridad.
                Las tradiciones religiosas, las enseñanzas de la iglesia, las declaraciones de líderes 
                religiosos y otros documentos no pueden tener una autoridad igual o superior a la Biblia. <br>

                <strong class="subtitulo">b.2. Accesibilidad:</strong> Sola Scriptura enfatiza que la Biblia es accesible para todos los creyentes.
                 No se requiere una élite clerical para interpretar o entender las Escrituras. Cualquier 
                 creyente tiene la capacidad de leer, estudiar y entender la Biblia con la ayuda del Espíritu Santo. <br>

                <strong class="subtitulo">b.3. Interpretación personal:</strong> Los seguidores de Sola Scriptura pueden interpretar la Biblia por sí mismos.
                Si bien se valora la enseñanza y la predicación de líderes religiosos, 
                la interpretación personal de la Biblia se fomenta y se considera un derecho de todos los creyentes. <br>

                <strong class="subtitulo">b.4. Rechazo de tradiciones no respaldadas por la Biblia: </strong> 
                Sola Scriptura implica un escepticismo hacia las tradiciones religiosas
                que no tienen un respaldo claro en las Escrituras. 
                Cualquier doctrina o práctica que contradiga directamente la Biblia o 
                carezca de respaldo bíblico debe ser rechazada. <br>

                <strong class="subtitulo">b.5. Reforma continua:</strong> La interpretación y la práctica basada en la Biblia 
                están sujetas a revisión y reforma constante. Si surgen nuevas comprensiones 
                de las Escrituras o se descubren errores en las prácticas actuales, 
                se alienta a los creyentes a realizar ajustes de acuerdo con las enseñanzas bíblicas. 
              </p>
          </article>
  </div>
</section>

<section class="institucional container">
  <strong class="subtitulo1">2. Sola Fide</strong><br>
  <div class="card_confesion">
    <img class="card_ibrt" src="../../../assets/img/fide10.png" alt="fide">
  </div>
  <div class="institucional__contenido">
          <article class="descripcion__pastor">
              <p class="descripcion">
                <strong class="subtitulo">a. Base argumentativa:</strong>
                “Así Abraham creyó a Dios, y <strong>le fue contado por justicia.</strong> 
                Sabed, por tanto, que los que son de fe, éstos son hijos de Abraham. 
                Y la Escritura, previendo que <strong>Dios había de justificar por la fe 
                a los gentiles,</strong> dio de antemano la buena nueva a Abraham, 
                diciendo: En ti serán benditas todas las naciones. 
                De modo que los de la fe son bendecidos con el creyente Abraham. 
                Porque todos los que dependen de las obras de la ley están bajo maldición, 
                pues escrito está: Maldito todo aquel que no permaneciere 
                en todas las cosas escritas en el libro de la ley, para hacerlas. 
                Y que por la ley ninguno se justifica para con Dios, es evidente, 
                porque: El justo por la fe vivirá” <strong>Gálatas 3:6-11.</strong> <br>
                <strong class="subtitulo">b. Nuestra comprensión:</strong>
                Confirmamos que la justificación es un acto de gracia, 
                alcanzado exclusivamente a través de la fe en Cristo. 
                En este proceso, la santidad de Cristo se nos atribuye como la única 
                forma de satisfacer la perfecta justicia de Dios. <br>
                Rechazamos la idea de que la fe salvadora puede surgir en el corazón del pecador, 
                ya que consideramos que es un don otorgado por Dios, y como tal, 
                solo Él lo concede de manera libre a quienes Él elige. 
                Asi como a Abraham, que no tuvo la capacidad de creer por si mismo al Dios unico y verdadero, 
                El hombre natural, sumido en sus pecados, no tiene la capacidad de generar esta fe para creer en Dios; 
                la fe, es un regalo otorgado por la voluntad soberana de Dios.
                Afirmamos que el objeto de nuestra fe es Cristo 
                y Su obra redentora en la cruz. Es solo a través de la fe en Él que somos salvados.
              </p>
          </article>
  </div>
</section>

<section class="institucional container">
  <strong class="subtitulo1">3. Sola Gratia</strong><br>
  <div class="card_confesion">
    <img class="card_ibrt" src="../../../assets/img/sola_gratia.png" alt="gratia">
  </div>
  <div class="institucional__contenido">
          <article class="descripcion__pastor">
              <p class="descripcion">
                <strong class="subtitulo">a. Base argumentativa:</strong>
                "Y él os dio vida a vosotros, cuando estabais muertos en vuestros delitos y pecados,
                Pero Dios, que es rico en misericordia, por su gran amor con que nos amó, 
                aun estando nosotros muertos en pecados, nos dio vida juntamente con Cristo 
                <strong>(por gracia sois salvos),</strong> para mostrar en los siglos venideros las abundantes riquezas de su gracia 
                en su bondad para con nosotros en Cristo Jesús. 
                Porque por gracia sois salvos por medio de la fe; y esto no de vosotros, 
                pues es don de Dios; no por obras, para que nadie se gloríe. <strong>Efesios 2:1,4-5,7-9".</strong> <br>
                <strong class="subtitulo">b. Nuestra comprensión:</strong>
                Desde una perspectiva reformada, <strong> "Sola Gratia"</strong> (Solo la Gracia) 
                subraya que <strong> la salvación es una obra exclusiva y motivada únicamente 
                por la gracia divina.</strong> En contraposición, se encuentra la creencia en los méritos 
                personales o las obras como un medio de obtención de la salvación, sin embargo, 
                es importante destacar que la gracia no tiene relación alguna con los méritos 
                personales. Mientras que la Iglesia católica como tambien muchas congregaciones sostienen los méritos 
                y el esfuerzo humano como base para la salvación, en la doctrina reformada, 
                <strong>la salvación se considera un regalo divino y no un producto final del esfuerzo humano o comercializable.</strong> <br>
                Algunas ramas del protestantismo contemporáneo han introducido enseñanzas que 
                enfatizan la autoestima, la autosuficiencia, el evangelio de la prosperidad 
                y la salud, todas las cuales se alejan de la verdad bíblica. 
                Estas doctrinas no solo desvían el enfoque del verdadero evangelio de Cristo, 
                sino que también distorsionan las Escrituras al eliminar la centralidad de la 
                sola gracia de Dios en la salvación.
              </p>
          </article>
  </div>
</section>

<section class="institucional container">
  <strong class="subtitulo1">4. Solus Christus</strong><br>
  <div class="card_confesion">
    <img class="card_ibrt" src="../../../assets/img/cristus.png" alt="gratia">
  </div>
  <div class="institucional__contenido">
          <article class="descripcion__pastor">
              <p class="descripcion">
                <strong class="subtitulo">a. Base argumentativa:</strong>
                "Porque hay un solo Dios, y un solo mediador entre Dios y los hombres, Jesucristo hombre". <strong>1 Timoteo 2:5.</strong> <br>
                "El cual nos ha librado de la potestad de las tinieblas, y trasladado al reino de su amado Hijo,
                en quien tenemos redención por su sangre, el perdón de pecados.
                Él es la imagen del Dios invisible, el primogénito de toda creación.
                Porque en él fueron creadas todas las cosas, las que hay en los cielos y las que hay en la tierra, 
                visibles e invisibles; sean tronos, sean dominios, sean principados, sean potestades; 
                todo fue creado por medio de él y para él. Y él es antes de todas las cosas, 
                y todas las cosas en él subsisten; y él es la cabeza del cuerpo que es la iglesia, 
                él que es el principio, el primogénito de entre los muertos, para que en todo tenga la preeminencia".
                <strong>Colosenses 1:13-18.</strong> <br>
                <strong class="subtitulo">b. Nuestra comprensión:</strong>
                Afirmamos de igual manera que Cristo es el único mediador entre Dios y los hombres. 
                También afirmamos que Cristo es el único y suficiente mediador entre la iglesia y el Padre. 
                Solamente la obra redentora y la vida sin pecado de Cristo, son suficientes 
                para nuestra justificación y reconciliación con el Padre. <br> Como reformados, 
                nos oponemos a exaltar a cualquier mediador entre los hombres y Dios que no sea Cristo. 
                Nuestra mirada está dirigida hacia Cristo y no puesta en nosotros mismos, 
                ni en nuestra fe misma, oraciones, la iglesia o rituales. Cristo es la única y suficiente 
                base para la relación con el Padre. 
              </p>
          </article>
  </div>
</section>

<section class="institucional container">
  <strong class="subtitulo1">5. Soli Deo Gloria</strong><br>
  <div class="card_confesion">
    <img class="card_ibrt" src="../../../assets/img/gloria_5.png" alt="gratia">
  </div>
  <div class="institucional__contenido">
          <article class="descripcion__pastor">
              <p class="descripcion">
                <strong class="subtitulo">a. Base argumentativa:</strong>
                "Si, pues, coméis o bebéis, o hacéis otra cosa, hacedlo todo para la gloria de Dios". <strong>1 Corintios 10:31. </strong> <br>
                "Si alguno habla, hable conforme a las palabras de Dios; si alguno ministra, 
                ministre conforme al poder que Dios da, para que <strong>en todo sea Dios glorificado</strong> por Jesucristo, 
                a quien pertenecen la gloria y el imperio por los siglos de los siglos. Amén". <strong>1 Pedro 4:11.</strong> <br>
                "Pero en una casa grande, no solamente hay utensilios de oro y de plata, sino también de madera y de barro; 
                y unos son para usos honrosos, y otros para usos viles". <strong>2 Timoteo 2:20.</strong> <br>
                "Asi ha dicho Jehová el Señor: No lo hago por vosotros, oh casa de Israel, sino por causa de mi santo nombre". 
                <strong>Ezequiel 36:22.</strong> <br>
                <strong class="subtitulo">b. Nuestra comprensión:</strong>
                Dios, en su infinita sabiduría y soberanía, ha creado todo con un propósito: Su propia gloria,
                desde la creación de todo lo existente hasta la redención.
                Todo lo que Dios a creado; lo a creado para su gloria, todo lo que Dios hace;
                lo hace para su gloria, todo lo que Dios a expresado en sus leyes; tiene como fin, su propia gloria,
                aun la salvacion del hombre como tambien en aquellos
                que se pierden, tiene como fin, la gloria de Dios, de manera que, 
                el proposito de nuestra comunidad es glorificar a Dios en todo momento, haciendo lo que va acorde a su voluntad.
              </p>
          </article>
  </div>
</section>



<section class="institucional container">
  <h2 class="titulo"><strong>Nuestra historia</strong></h2>
  <div class="institucional__contenido">
      <div class="institucional__informaciones">
          <article class="descripcion__pastor">
              <p class="descripcion">
                Dios, desde toda la eternidad, por el sapientísimo y santísimo consejo de su propia voluntad, ha decretado en sí mismo,
                libre e inalterablemente, todas las cosas, todo lo que sucede; sin embargo, de tal manera que por ello Dios ni es autor
                del pecado ni tiene comunión con nadie en el mismo; ni se hace violencia a la voluntad de la criatura, ni se quita la libertad o
                contingencia de las causas secundarias, sino que más bien las establece;
                en lo cual se manifiesta su sabiduría en disponer todas las cosas, y su poder y fidelidad en llevar a cabo sus decretos"
              </p>
          </article>
      </div>
  </div>
</section>

<section class="institucional container">
  <div *ngIf = "files.length>0">
    <div class="row">
      <div *ngFor = "let file of files" class="img__historia">
        <div >
            <p>{{ file.name_foto }}</p>
        </div>
        <div >
            <img class="img__historia" *ngFor="let images of file.imageRutas" [src]="images">
        </div>
      </div> 

    </div>
    
  </div>
</section>



</body>






  