body, .diferenciales {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  animation: backgroundAnimation 30s infinite linear;
}

@keyframes backgroundAnimation {
  0%, 15% {
    background: #f9f9f9;
    opacity: 1;
  }
  30% {
    background: #d7dddf; 
    opacity: 1;
  }
  45% {
    background: #e2e0e0; 
    opacity: 1;
  }
  60% {
    background: #d2d4cd;
    opacity: 1;
  }
  75%, 100% {
    background: #dfe1e1;
    opacity: 1;
  }
}


.diferenciales {
  padding-top: 3.5rem;
  margin-top: 80px;
}

.diferenciales__lista {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

.item__texto {
  line-height: 1.2;
  font-size: 1.6rem;
}

.img-pastor {
  height: 35vh;
}

@media (max-width: 991px) {
  .img-pastor {
   width: 90%;
   margin-right: 20px;
  }
  .item__texto {
    line-height: 1.1;
    font-size: 1.1rem;
  }
}
