<br>
<div class="col-lg-9 my-4">
  <nav>
    <nav class="navbar navbar-expand-lg navbar-light nav-2" style="height: 8%;">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 point">
          <li class="nav-item">
            <a class="nav-link colors" routerLink="/nuestroPastor" routerLinkActive="active"><strong>NUESTRO PASTOR</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link colors" routerLink="/fundamentos" routerLinkActive="active"><strong>NUESTRA CONFESIÓN</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link colors" routerLink="/horario" routerLinkActive="active"><strong>HORARIOS DE SERVICIO</strong></a>
          </li>
        </ul>
      </div>
    </nav>
  </nav>
</div>
<body class="altobody" style="background: transparent url('../../../assets/img/fondocielo.jpg') no-repeat center center /cover" >
  <br>
  <section>
    <div class="wpb_text_column wpb_content_element ubicar">
      <div class="wpb_wrapper">
            <h1 class="colortitu"><strong>Nuestros diferentes servicios</strong></h1>
            <p>
                <span style="font-size: 14pt;"><strong>DOMINGOS</strong></span>
            </p>
            <p>
                <span style="font-size: 14pt;">10:00 AM-10:50 Escuela Dominical</span>
            </p>
            <p>
                <span style="font-size: 14pt;">11:10 AM-12:30 PM Culto Publico</span>
            </p>
            <p>
                <span style="font-size: 14pt;"><strong>MIERCOLES</strong></span>
            </p>
            <p>
                <span style="font-size: 14pt;"> 7:00 - 8:00 P.M. Reunion De Oración Virtual</span>
            </p>
      </div>
    </div>
    
    <div class="wpb_column vc_column_container vc_col-sm-6">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <p class="ubicar1">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d590.2994369338417!2d-73.3497575146235!3d5.560283289023756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6a7d605ae159a1%3A0xb5227ad46c0f47c6!2sIglesia%20Bautista%20Reformada%20De%20Tunja%20IBRT!5e0!3m2!1ses!2sco!4v1659931599950!5m2!1ses!2sco" width="500" height="280" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </p>
                    </div>
                </div>
    
            </div>
        </div>   
    </div>
  </section>
</body>
<br>




<!--  


  
<footer class="colorun">
  <div  class="banner-wrapper">
    <div class="icon-text">
      <div class="icon-text-icon">
        <H2 class="sobren"> NUESTRA DIRECCIÓN</H2>
      </div>
      <h1 class="color"><a href="" class="logo">
        <img src="../../../assets/logo7.jpg" alt=""></a></h1>
      <div class="icon-text-text social">
        <ul>
          <li>
            <h2>SÍGUENOS</h2>
          </li>
          <br>
          <li href="#skills">
            <a href="http://facebook.com/JesusAutorDeVida"  target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="http://twitter.com/JesusAutorDeVida"  target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="http://youtube.com/JesusAutorDeVida"  target="_blank">
              <i class="fa fa-youtube"></i>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>   
</footer>
-->


  <footer class="colorun">
      <div  class="banner-wrapper">
        <div class="icon-text">
          <div class="icon-text-icon">
            <H2 class="sobren">SOBRE NOSOTROS</H2>
          </div>
          <div class="large-4 columns">
            <ul class="cro_footwidget">
              <li id="text-2" class="widget-container widget_text clear">
                <div class="cro-sidebar-inner">
                  <div class="textwidget colores adress">
                    <br>
                    <p>
                      Tunja - Boyacá
                    </p>
                    <p>
                      Dirección: Carrera 7b #51 - 20. Las Granjas
                    </p>
                    <p>
                      Teléfono: 311 2089172
                    </p>
                        <h2>SÍGUENOS</h2>                  
                      <p href="#skills">
                        <a href="http://facebook.com/JesusAutorDeVida"  target="_blank" class="tamañoface">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div> 
  </footer>
  <footer class="negro">
    <div class="large-6 columns">
      <br>
      <div id="site-cnt" class="centralist">
        <a class="title"> Iglesia Bautista Reformada De Tunja © (2022) </a>
      </div>
    </div>
  </footer>

  <!--  

    <div class="icon-text-text social">
            <ul>
              <li>
                <h2>SÍGUENOS</h2>
              </li>
              <br>
              <li href="#skills">
                <a href="http://facebook.com/JesusAutorDeVida"  target="_blank">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="http://twitter.com/JesusAutorDeVida"  target="_blank">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="http://youtube.com/JesusAutorDeVida"  target="_blank">
                  <i class="fa fa-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
  -->
  














