body, .diferenciales {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  animation: backgroundAnimation 30s infinite linear;
}

@keyframes backgroundAnimation {
  0%, 15% {
    background: #f9f9f9;
    opacity: 1;
  }
  30% {
    background: #d7dddf; 
    opacity: 1;
  }
  45% {
    background: #e2e0e0; 
    opacity: 1;
  }
  60% {
    background: #d2d4cd;
    opacity: 1;
  }
  75%, 100% {
    background: #dfe1e1;
    opacity: 1;
  }
}

.container-general {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.img-banner,
.horario {
  width: 100%;
}

.horario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.horario__image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}

.img-monumento {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto; /* Esto centra la imagen horizontalmente */
}

.diferenciales__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  list-style: none;
  overflow: hidden;
}

.diferenciales__item {
  display: flex;
  margin-bottom: 10px; 

  max-width: 350px;
  box-sizing: border-box;
  padding: 2rem 0 2rem 5rem;
  background-position: top 1.25rem left 2.5rem;
}

/*Rotacion-icon*/
.rotating-icon {
  display: inline-block;
  animation: spin 4s linear infinite;
  color: #db3609;
  font-size: 35px;
}

@keyframes spin {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}

.diferenciales__item:last-child {
  clear: both;
}

.item__icon {
  margin-right: 10px;
}

.item__titulo {
  color: #000000;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.item__texto {
  line-height: normal;
  color: rgb(128, 109, 0);
  font-size: 1rem;
}

.diferenciales__item--domingo {
  color: red;
}

.whatsapp-icon {
  font-size: 25px;
  color: green; 
  cursor: pointer;
  line-height: 1.2;
  margin: 0;
}

.whatsapp-icon:hover {
  color: #21db09;
}

@media (max-width: 1024px) {
  .img-horario {
   width: 100%;
   margin-right: 20px;
   height: 25vh;
  }
  .item__texto {
    font-size: 0.8rem;
  }
  .item__titulo {
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
  }
  .whatsapp-icon {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .diferenciales__lista {
    margin-left: -100px;
  }
}
