.titulo-articulos-recomendados {
    font-size: 2rem;
    color: rgb(45, 87, 62);
}

.container{
    max-width: 60%;
    padding-top: 7%;
}

.card {
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 5px;
    padding-right: 5px;
}

.imagen {
    border-radius: 5px;
    height: 150px;
}

.title-nameBook {
    font-size: 1.1rem;
}

.title-nameBook::first-letter {
    text-transform: uppercase;
}

.parrafo-article {
    color: #b12727;
    font-family: 'Nombre-de-tu-fuente', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
}

  
  /*========MEDIA QUERIES (SMALL DEVICES)========*/
  @media screen and (max-width: 600px) {
    .titulo-articulos-recomendados {
        font-size: 1.1rem;
        color: rgb(15, 83, 229);
    }
    .card {
        padding:  1.5px;
    }
    .parrafo-article {
        color: #080202;
        font-family: sans-serif;
        font-size: 0.9rem;
    }
  }
