<div class="container mt-5">
  <div class="text-center">
    <div class="card-body">
      <h2 class="titulo-articulos-recomendados">Artículos Recomendados</h2>
      <hr>
    </div>
  </div>

  <div class="d-flex flex-wrap justify-content-evenly mt-5" *ngIf="librosMostrar.length > 0">
    <div class="col-md-6 mb-4" *ngFor="let libro of librosMostrar">
      <div class="d-flex align-items-center position-relative custom-card">
        <div class="title-container">
          <h2 class="title-num1">{{ libro.nameBook }}</h2>
        </div>
          <div class="image-container">
            <img *ngFor="let images of libro.bookRutas" [src]="images" class="img-fluid custom-image-class">
            <img src="../../../assets/img/312MFo-LogoMakr.png" class="logo-overlay">
            <div class="overlay">
              <div class="overlay-content">
                <h2 class="title-nameBook">{{ libro.nameBook }}</h2>
                <p class="parrafo-article">{{ libro.article.substring(0, 100) }}...</p>
                <button (click)="mostrarArticuloCompleto(libro)" type="button" class="btn btn-light">Leer más</button>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div *ngIf="selectedLibro" class="modal">
    <div class="modal-content">
      <span class="close" (click)="cerrarModal()">&times;</span>
      <div class="modal-body">
        <!--
        <div class="contenido-img">
          <img *ngFor="let images of selectedLibro.bookRutas" [src]="images" class="img-modal custom-modal-image-class">
        </div> 
        -->
        <div class="titulo-h1">
          <h1>{{ selectedLibro.nameBook }}</h1>
        </div>
        <p class="article modal-content">{{ selectedLibro.article }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Paginación -->
<nav>
  <ul class="pagination justify-content-center">
    <!-- Botón Anterior -->
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link custom-page-link" href="javascript:void(0)" (click)="changePage(currentPage - 1)">Anterior</a>
    </li>

    <!-- Números de página -->
    <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage">
      <a class="page-link custom-page-link" href="javascript:void(0)" (click)="changePage(page)">{{ page }}</a>
    </li>

    <!-- Botón Siguiente -->
    <li class="page-item" [class.disabled]="currentPage === pages.length">
      <a class="page-link custom-page-link" href="javascript:void(0)" (click)="changePage(currentPage + 1)">Siguiente</a>
    </li>
  </ul>
</nav>
