.titulo-articulos-recomendados {
  padding-top: 90px;
  font-size: 2rem;
  color: rgb(45, 87, 62);
  text-align: center;
}

.titulo-h1 h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.title-num1,
.title-nameBook {
  font-family: 'Great Vibes', cursive;
  text-transform: lowercase;
}

.title-num1::first-letter,
.title-nameBook::first-letter {
  text-transform: uppercase;
}

.custom-image-class,
.custom-modal-image-class {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .titulo-articulos-recomendados {
      padding-top: 80px;
      font-size: 1.5rem;
      color: rgb(18, 32, 17);
  }

  .parrafo-article {
      font-family: sans-serif;
      font-size: 0.8rem;
  }

  .image-container {
      width: 100%;
      height: auto;
  }

  .custom-modal-image-class {
      max-width: 100%;
      max-height: 100%;
  }
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.custom-page-link {
  color: #02734A !important;
  border-color: #02734A !important;
  transition: background-color 0.13s, color 0.13s;
}

.page-item.active .custom-page-link {
  background-color: #02734A !important;
  border-color: #730209 !important;
  color: rgb(222, 235, 46) !important;
  transition: transform 0.3s ease-in-out;
}

.custom-page-link:hover {
  transform: scale(1.1);
  background: rgb(180, 180, 0);
  color: #000000;
  border-color: transparent;
}

.contenido-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.custom-modal-image-class {
  max-width: 20%;
  max-height: 20%;
}

  /* PAGINATION */
  .custom-page-link {
    color: #02734A !important;
    border-color: #02734A !important;
    transition: background-color red 0.13s, color 0.13s;
  }
  
  .page-link:hover {
    background: rgb(180, 180, 0);
    color: #000000;
    border-color: transparent;
  }
  
  .page-item.active .custom-page-link {
    background-color: #02734A !important;
    border-color: #730209 !important;
    color: rgb(222, 235, 46) !important;
    transition: transform 0.3s ease-in-out;
  }

  .custom-page-link:hover {
    transform: scale(1.1);

  }
  
