.body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.img-paths{
    width: 400px;
    height: 300px;
    
}
.centrar{
    position: absolute;
    right: 250px;
    
}

.centar-text{
    position: absolute;
    right: 850px;
    left: 150px;
    text-align: justify!important; /* alinea al final del parrafo */      
}

.title{
    text-align: center;
}

/*footer*/

a:hover {
    color: #652c0350;
}

.colorun{
    background: #01234b;
    width: 100%; 
    padding: 15px;
    height: 300px;
}

.icon-text-text{
    text-align: right;
    width: 80%;
    color: aliceblue;
}

.sobren{
    color: aliceblue;
    text-align: center;
}

.colores{
    color: #c3d7df;
}
.adress{
    color: aliceblue;
    text-align: center;
}

.negro{
    background: #00152d;
    height: 65px;
}

.tamañoface{
    font-size: 50px;
}

.centralist{
    text-align: center;
}

.title{
    color: white;
    text-decoration: none;
}

.viewport{
    min-height: 100vh;
    position: relative;
    padding-bottom: 3em;
}

.social li{
    display: inline;
    color: #c3d7df;
}

.social i {
    font-size: 200%;
    margin: 1%;
    color: #c3d7df;
    text-align: right;
}

/* link de nosotros*/
.nav-link {
    display: block;
    padding: 0.2rem 1rem;
    box-sizing: border-box;
}

.activeColor{
    color: rgba(51, 0, 51, 1);
    
}

.colors{
    color:#01234b;
}

.negrilla{
    color: rgba(6, 41, 73, 0.404);
}

.fuente{
    color: #000;
}
