

.logo-footer {
    width: 450px;
}
  
 
footer{
    text-align: center;
    padding: 40px; 
 }
 



  /*FOOTER*/

.pie_pagina {
    position: relative;
}

.rodapePrincipal {
    position: relative;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(70%);
    background-position: center center;
}



@media screen and (max-width: 1024px) {  
    
    .logo-footer {
        width: 280px;
    }
}

/*footer mini*/
.negro{
    background: #00152d;
    height: 65px;
    font-size: 12px;
    align-items: center;
}

.centralist{
    text-align: center;
    align-items: center;
}

.title{
    color: white;
    text-decoration: none;
}


@media screen and (max-width: 1024px) { 
    .negro{
        background: #00152d;
        height: 30px;
        font-size: 10px;
        align-items: center;
    } 
}
