<section class="pie_pagina">
    <footer class="rodapePrincipal">
      <video autoplay muted loop>
        <source src="../../../assets/videos/rio.mp4" type="video/mp4">
      </video>
      <img matTooltip="Servicios día domingo" class="pointer" routerLink="/horario" class="logo-footer" src="../../../assets/img/servicios.png" alt="Img logo"> 
    </footer>
</section>
  
  <footer class="negro">
      <div id="site-cnt" class="centralist">
        <a class="title"> Iglesia Bautista Reformada De Tunja | Gracia Sobre Gracia © 2024 </a>
      </div>
  </footer>