<header class="headerPrincipal">
    <div class="container">
      <div class="logo-container">
        <a class="logo" href="#">
          <img src="../../../assets/img/logo.png" alt="logo" />
        </a>
      </div>
  
      <nav class="headerPrincipal-nav">
        <a class="headerPrincipal-nav-link" href="/home">Home</a>    
        <a class="headerPrincipal-nav-link" href="/gestion">Gestion</a>
        <a class="headerPrincipal-nav-link" href="/login">Login</a>
        <a class="headerPrincipal-nav-link" href="/horario">Contacto</a> 
        <a class="nav-link dropdown-toggle btn-neon" href="#" role="button" data-bs-toggle="dropdown">Quienes somos</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/fundamentos">Librería</a></li>
            <li><a class="dropdown-item" href="#">Nuestra historia</a></li>
            <li><a class="dropdown-item" href="/nosotros">Nosotros</a></li>
            <li><a class="dropdown-item" href="/horario">Contactar</a></li>
          </ul>
      </nav>
    </div>
  
  </header>