<header class="headerPrincipal">
    <div class="container">
      <div class="logo-container">
        <a class="logo" href="#">
          <img src="../../../assets/img/logo.png" alt="logo" />
        </a>
      </div>
  
      <nav class="headerPrincipal-nav">
        <a class="headerPrincipal-nav-link" href="/home">Home</a>    
        <a class="headerPrincipal-nav-link" href="/gestion">Gestion</a>
        <a class="headerPrincipal-nav-link" href="/login">Login</a>
        <a class="headerPrincipal-nav-link" href="/horario">Contacto</a> 
        <a class="nav-link dropdown-toggle btn-neon" href="#" role="button" data-bs-toggle="dropdown">Quienes somos</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/fundamentos">Librería</a></li>
            <li><a class="dropdown-item" href="#">Nuestra historia</a></li>
            <li><a class="dropdown-item" href="/nosotros">Nosotros</a></li>
            <li><a class="dropdown-item" href="/horario">Contactar</a></li>
          </ul>
      </nav>
    </div>
  
  </header>

  <!-- 

    COMPONENTE ELIMINAR


    import { Component, OnInit } from '@angular/core';
import { Libros } from 'src/app/models/libros';
import { LibroService } from 'src/app/services/libro.service';
import { MatDialog } from '@angular/material/dialog';
//import { MAT_DIALOG_DATA } from '@angular/material/dialog';
import { ShowModalComponent } from '../show-modal/show-modal.component';
import { MatSnackBar } from '@angular/material/snack-bar';

@Component({
  selector: 'app-eliminar-art',
  templateUrl: './eliminar-art.component.html',
  styleUrls: ['./eliminar-art.component.css']
})
export class EliminarArtComponent implements OnInit {

  libro: any = {
    bookRutas: "",
    nameBook: "",
    article: ""
  }

  libros: Libros[] = []; //llamar interfarces del model
  librosMostrar: any[] = [];

  selectedLibro: any;

  itemsPerPage: number =20; // Número de elementos por página
  currentPage: number = 1; // Página actual

  allLibros: any;
  article: any;

  

  constructor(
    private libroService: LibroService,
    private dialog:MatDialog,
    private _snackBar: MatSnackBar
    ) { } //suscripcion al servicio

  

  ngOnInit(): void {
    this.libroService.getLibro();//llama al metodo getLibro del servicio
    this.currentPage = 1; // Inicializar o comienza a mostrar la primera pegina
    this.libroService.getLibrosStream().subscribe((libros: Libros[]) => {
      this.libros = libros.map(libro => ({ ...libro, mostrarCompleto: false }));
      console.log(this.libros);
    });
  }
  


  get pages(): number[] {
    return Array.from({ length: Math.ceil(this.libros.length / this.itemsPerPage) }, (_, i) => i + 1);
  }

  changePage(page: number): void {
    this.currentPage = Math.min(Math.max(page, 1), this.pages.length);
    this.libroService.getLibro(); // Obtener los libros de la página actual
  }
  


  mostrarArticuloCompleto(libro: any) {
    libro.mostrarCompleto = true;
    const dialogRef = this.dialog.open(ShowModalComponent, {
      data: {
        bookRutas: libro.bookRutas,
        nameBook: libro.nameBook,
        article: libro.article,
      },
    });
    dialogRef.afterClosed().subscribe(result => {
      libro.mostrarCompleto = false;
    });
  }

  deleteArticulo(libro: any) {
    console.log(this.libro);

    this.libroService.deleteArticulo(this.article).subscribe(()=>{
    this.allLibros = this.libro
    })
    this._snackBar.open('Inmueble eliminado', '', {
      duration: 1500,
      horizontalPosition: 'center',
      verticalPosition: 'bottom'
    })
  }


}

  -->




  <!-- 

    HTML ELIMINAR



    <div class="container mt-5">
    <div class="text-center">
        <div class="card-body">
            <h2 class="titulo-articulos-recomendados">Elije un articulo para eliminar</h2>
            <hr>
        </div>
    </div>
    
    <div class="d-flex flex-wrap justify-content-evenly mt-5">
      <div class="col-md-6" *ngFor="let libro of libros | slice:(currentPage-1)*itemsPerPage:currentPage*itemsPerPage">
        <div class="card mb-3" style="border: none;">
          <div class="row g-0 ">
  
            <div class="col-md-5 d-flex align-items-center">
              <img *ngFor="let images of libro.bookRutas" [src]="images" class="img-fluid imagen align-self-center ms-2">
            </div>
  
            <div class="col-md-8" >
              <div class="card-body">
                <h2 class="title-nameBook">{{ libro.nameBook }}</h2>
                <div *ngIf="!libro.mostrarCompleto">
                  <p class="parrafo-article">{{ libro.article.substring(0, 100) }}...</p>
                  <button (click)="mostrarArticuloCompleto(libro)" type="button" class="btn btn-light">Leer más</button>
                </div>
                <div class="card-text" *ngIf="libro.mostrarCompleto">
                  {{ libro.article }}
                  
                </div>
                <button class="btn btn-danger" (click)="deleteArticulo(libro)">Eliminar</button>
  
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  -->




  <!-- 

    SERVICIO LIBRO


    import { HttpClient } from '@angular/common/http';
import { Injectable } from '@angular/core';
import { Observable, Subject } from 'rxjs';
import { Libros } from '../models/libros';



@Injectable({
  providedIn: 'root'
})
export class LibroService {

  readonly url = "http://localhost:2500/api/libros/";
  imagenes: Libros[] = [];
  libros$ = new Subject<Libros[]>();
  httpClient: any;

  constructor(private http: HttpClient) {
  }

  getAllLibros(){
    return this.httpClient.get("http://localhost:2500/api/libros/")
  }
/*
  deleteArticulo(libro: any) {
    return this.httpClient.delete("http://localhost:2500/api/libros/")
  }
*/


  deleteArticulo(libro: any) {
    return this.httpClient.delete("http://localhost:2500/api/libros/")
  }
  
  //Solicitud que trae los libros y los pasa a fundamentos
  getLibro(){
    this.http.get<Libros[]>(this.url).subscribe((data)=>{
      this.imagenes = data;
      this.libros$.next(this.imagenes);
    })
  }

  getLibrosStream(): Observable<Libros[]> {
    return this.libros$.asObservable();
  }

//metodo para crear libro en gestionUno
  postLibro(nameBook: string, article:string, images: FileList){     //metodo para grabar en postman y envbia al backend
    const libro = new FormData();     //objeto que nos enlista los artibutos a la base datos

    libro.append("nameBook", nameBook);      //metodo ´para adjuntar archivos append
    libro.append("article", article);

    for(let i=0; i<images.length; i++){
      console.log(images[i])
      libro.append("images",images[i], );     //con el for podemos enviar imagen por imagen
    }

    this.http.post<Libros>(this.url+"multiple", libro).subscribe((response: Libros)=>{
      const libro: Libros = {
        _id:response._id,
        nameBook:response.nameBook,
        article:response.article,
        bookRutas:response.bookRutas,  
        mostrarCompleto: false
      }
      this.imagenes.push(libro);
      this.libros$.next(this.imagenes);    //actualiza la vista 
    })
  }

}
  -->





  <!-- 


    LIBROS CONTROLLER


    //const libro = require("../models/libro");
const libros = require("../models/libro");


/*Corroborar estas dos funciones */
pagination = async (req, res)=>{
    const pdf = await libros.find();
    res.status(200).json(pdf);
}

/*Funcion que trae la ruta de imagenes libros */
getImages = async (req, res)=>{
    const rutasImages = await libros.find();
    res.status(200).json(rutasImages);
}

postLibro = async (req, res)=>{
    console.log("req.file: " +req.files)
    const {nameBook, article} = req.body;  //desestructurar
    const bookRutas = []; //`http://localhost:${process.env.PORT}/images/${req.file.filename}`; //npmbre varable coincide con el del modelo
    req.files.forEach(element => {
        console.log(element.filename)
        bookRutas.push(`http://localhost:${process.env.PORT}/libros/${element.filename}`); //npmbre de la carpeta donde guardamos las imagenes (libros)
    });
    console.log(bookRutas)
    const libro = new libros({
        nameBook,
        article,
        bookRutas
    });
    const libroCreado = await libro.save();
    res.status(200).json({
        ...libroCreado._doc //... = spread operator//
    })
}
/*
const deleteArticulo = (req, res) => {
    libros.deleteOne({}, (err, mongoResponse)=>{
        if(err) return res.send(err)
        console.log(mongoResponse)
        return mongoResponse.deletedCount == 1 ? res.send("Se eliminó un documento") : res.send("No se eliminó ningun documento")
    })
}
*/

const deleteArticulo = async (req, res) => {
    const _id = req.params.id; // Asegúrate de que el parámetro se llame "id"
  
    try {
      const libroEliminado = await libros.findByIdAndRemove(_id);
  
      if (!libroEliminado) {
        return res.status(404).json({ mensaje: 'Libro no encontrado' });
      }
  
      return res.status(200).json({ mensaje: 'Libro eliminado exitosamente' });
    } catch (error) {
      console.error(error);
      return res.status(500).json({ mensaje: 'Error en el servidor' });
    }
  };

//elaborar funciones 
const createLibro = (req, res)=>{}
const actualizarLibro = (req, res)=>{}




module.exports = {
    postLibro,
    getImages,
    pagination,
    deleteArticulo,
}



//const image = require("../models/image");
//const imageMultiple = require("../models/imageMultiple");

  -->