<h1 mat-dialog-title>Confirmar Eliminación</h1>
<div mat-dialog-content>
  <p>{{ data.message }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cerrarModal()">Cancelar</button>
  <button mat-button (click)="confirmar()" color="warn">Eliminar</button>
</div>


<!-- 
 
    <div class="contenido-img">
        <img *ngFor="let images of data.bookRutas" [src]="images" class="img-modal">
    </div>
    
    <div class="titulo-h1">
        <h1>{{ data.nameBook }}</h1>
    </div>
    
    <p class="article modal-content">{{ data.article }}</p>
    <button mat-button (click)="cerrarModal()">Cerrar</button>

-->